@import url('common.css');

.t-upload {
    position: absolute !important;
    z-index: 100;
    top: 0;
    width: 100%;
    padding: 15px;
    margin: 40px auto 0;
    font-size: 12px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.t-uploader .uploader-btn {
    margin-right: 4px;
    color: white;
    background: #8f5ca8;
}

.t-uploader .uploader-list {
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    max-height: 800px;
}

.uploader-list ul>li {
    height: 49px;
}

.uploader-list .uploader-file {
    background-color: var(--light-primary-color);
}

.uploader-file .uploader-file-progress {
    height: 3px;
    position: absolute;
    bottom: 0;
    background-color: var(--right-color);
    opacity: .7;
}

.uploader-file[status=error] .uploader-file-progress {
    background-color: var(--error-color) !important;
}